.box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: $border--radius;
  text-decoration: none;
  box-shadow: $shadow;
}

.box__container{
  display: flex;
  flex-wrap: wrap;
  background-color: $background--clean;
  padding: $space--medium;
  width: 100%;
  border-radius: $border--radius;
}

.box__container--inverted{
  background-color: $background--extra-light;
  border-radius: $border--radius;
}

.box__footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: $space--medium;
  background-color: $background--light;
  width: 100%;
}

.box__container--form{
   min-height: 300px;
}

.box--shadow{
  box-shadow: $shadow;
  border: none;
}

.box--no-border{
  border: none;
}

.box__container--hover{
  cursor: pointer;

  &:hover{
    background-color: $color--primary-200;
  }
}


.box__container--small{
  width: 198px;
  height: 198px;
}

.box__container--medium{
  width: 396px;
  height: 396px;
}

.box__container--large{
  width: 396px;
  height: 594px;
}

.box__container--extra-large{
  width: 396px;
  height: 792px;
}
