.button {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: $text--medium;
  font-family: $font-pattern;
  padding: $space--small $space--medium;
  border-radius: $border--radius;
  border: 0;
  margin: 0;
  justify-content: center;
  cursor: pointer;

  span {
    flex-grow: 1;
  }

  &.is-disabled {
    background-color: $color--disabled;
    color: lighten($text--primary, 20%);
    border: none;
    cursor: no-drop;
    @include transition(background-color, color, $transition);

    svg {
      fill: lighten($text--primary, 20%);
      @include transition(fill, $transition);
    }

    &:focus {
      border: 0;
      box-shadow: none;
    }

    &:hover {
      background-color: $color--disabled;
    }
  }

  &.is-loading {
    cursor: no-drop;
    @include transition(background-color, $transition);

    &:focus {
      border: 0;
      box-shadow: none;
    }
  }
}

.button--primary {
  background-color: $color--primary;
  color: $text--inverted;
  font-weight: $text-weight--large;
  min-width: 100px;

  svg {
    fill: $text--inverted;
  }

  &:focus {
    outline: none;
    border: $border--small $text--inverted;
    box-shadow: $shadow-focus $color--primary;
  }

  &:hover {
    background-color: darken($color--primary, 20%);
    transition: background-color $transition;
  }

  .is-loading {
    background-color: lighten($color--primary, 10%);

    &:hover {
      background-color: lighten($color--primary, 10%);
    }
  }
}

.button--secondary {
  background-color: $background--clean;
  color: $color--primary;
  font-weight: $text-weight--medium;
  border: $border--small $color--primary;

  svg {
    fill: $color--primary;
  }

  &:focus {
    outline: none;
    border: $border--small $text--inverted;
    box-shadow: $shadow-focus $color--primary;
  }

  &:hover {
    background-color: lighten($color--primary, 35%);
    transition: background-color $transition;
  }
}

.button--tertiary {
  background-color: $color--secondary;
  color: darken($color--primary, 15%);
  font-weight: $text-weight--medium;

  svg {
    fill: darken($color--primary, 15%);
  }

  &:focus {
    outline: none;
    border: $border--small $text--inverted;
    box-shadow: $shadow-focus darken($color--primary, 15%);
  }

  &:hover {
    background-color: darken($color--secondary, 15%);
    transition: background-color $transition;
  }
}

.button--full {
  width: 100%;
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-radius: $border--radius;
  padding: $space--extra-small;
  color: $text--primary;
  cursor: pointer;
  background-color: unset;
  height: unset;

  svg {
    vertical-align: middle;
    pointer-events: none;
  }

  &:hover {
    svg {
      fill: darken($text--primary, 15%);
    }
  }
}

.button--form {
  margin-bottom: 18px;
}
