.link{
  cursor: pointer;
  font-family: $font-pattern;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: $text-weight--medium;

  &:hover{
    text-decoration: underline;
  }
}

.link--primary{
  color:  $color--primary-700;
  // min-width: 100px;
  font-weight: $text-weight--large;

  svg{
    @include icon-fill($color--primary-700, 0.7);
  }
}

.link--secondary{
  color: $button-text--secondary;

  svg{
    @include icon-fill($button-text--secondary, 0.7);
  }
}

.link--tertiary{
  color: $color--tertiary;

  svg{
    fill: $color--tertiary;
  }
}

.link--inverted{
  color: $text--inverted;

  svg{
    fill: $text--inverted;
  }
}

.link--extra-small{
  font-size: $text--extra-small;
}

.link--small{
  font-size: $text--small;
}

.link--medium{
  font-size: $text--medium;
}

.link--large{
  font-size: $text--large;
}

.link--extra-large{
  font-size: $text--extra-large;
}

