.margin--extra-small{
  margin: $space--extra-small;
}

.margin--small{
  margin: $space--small;
}

.margin--medium{
  margin: $space--medium;
}

.margin--large{
  margin: $space--large;
}

.margin--extra-large{
  margin: $space--extra-large;
}

// ------- margem em cima e embaixo --------- //
.margin-vertical--extra-small{
  margin-top: $space--extra-small;
  margin-bottom: $space--extra-small;
}

.margin-vertical--small{
  margin-top: $space--small;
  margin-bottom: $space--small;
}

.margin-vertical--medium{
  margin-top: $space--medium;
  margin-bottom: $space--medium;
}

.margin-vertical--large{
  margin-top: $space--large;
  margin-bottom: $space--large;
}

.margin-vertical--extra-large{
  margin-top: $space--extra-large;
  margin-bottom: $space--extra-large;
}

// ------- margem nas laterais --------- //
.margin-horizontal--extra-small{
  margin-left: $space--extra-small;
  margin-right: $space--extra-small;
}

.margin-horizontal--small{
  margin-left: $space--small;
  margin-right: $space--small;
}

.margin-horizontal--medium{
  margin-left: $space--medium;
  margin-right: $space--medium;
}

.margin-horizontal--large{
  margin-left: $space--large;
  margin-right: $space--large;
}

.margin-horizontal--extra-large{
  margin-left: $space--extra-large;
  margin-right: $space--extra-large;
}

// ------- margem em baixo --------- //
.margin-bottom--extra-small{
  margin-bottom: $space--extra-small;
}

.margin-bottom--small{
  margin-bottom: $space--small;
}

.margin-bottom--medium{
  margin-bottom: $space--medium;
}

.margin-bottom--large{
  margin-bottom: $space--large;
 }

.margin-bottom--extra-large{
  margin-bottom: $space--extra-large;
}

// ------- margem em cima --------- //
.margin-top--extra-small{
  margin-top: $space--extra-small;
}

.margin-top--small{
  margin-top: $space--small;
}

.margin-top--medium{
  margin-top: $space--medium;
}

.margin-top--large{
  margin-top: $space--large;
 }

.margin-top--extra-large{
  margin-top: $space--extra-large;
}

// ------- margem em esquerda --------- //
.margin-left--extra-small{
  margin-left: $space--extra-small;
}

.margin-left--small{
  margin-left: $space--small;
}

.margin-left--medium{
  margin-left: $space--medium;
}

.margin-left--large{
  margin-left: $space--large;
 }

.margin-left--extra-large{
  margin-left: $space--extra-large;
}

// ------- margem direita --------- //
.margin-right--extra-small{
  margin-right: $space--extra-small;
}

.margin-right--small{
  margin-right: $space--small;
}

.margin-right--medium{
  margin-right: $space--medium;
}

.margin-right--large{
  margin-right: $space--large;
 }

.margin-right--extra-large{
  margin-right: $space--extra-large;
}
